<div id="app" class="ui container" style="padding-bottom: 10px;">
    <div class="ui secondary three item labeled icon menu" id="main-menu" style="margin-bottom:0px;padding-top: 10px">
        <a class="item" id="triggers-menu-item">
            <i class="clock icon"></i>
            Controller
        </a>
    </div>

    <div class="ui divider" style="margin-top:0px;"></div>

    <div id="device-panel">
        <div class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" value="New controller #1">
            </div>
            <div class="field">
                <label>Type</label>
                <select class="ui dropdown">
                    <option value="1">Timer</option>
                </select>
            </div>
            <div class="field">
                <div id="time-grid">

                </div>
            </div>

            <div class="field">
                <label>Switches</label>
                <select></select>
            </div>
        </div>
    </div>
</div>