<div id="app" class="ui container" style="padding-bottom: 10px;">

    <div class="ui secondary three item labeled icon menu" id="main-menu" style="margin-bottom:0px;padding-top: 10px">
        <a class="item" id="triggers-menu-item">
            <i class="plug icon"></i>
            Device
        </a>
    </div>

    <div class="ui divider" style="margin-top:0px;"></div>

    <div id="device-panel">
        <div class="ui form">
            <div class="field">
                <label>Name</label>
                <input id="name-field" type="text">
            </div>
            <div class="field">
                <label>Values</label>
                <div id="value-grid"></div>
            </div>
        </div>
    </div>
</div>